body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f0f0f0; /* Warna latar belakang */
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.header h1 {
    color: #333;
}

.header p {
    color: #777;
    font-size: 1.1em;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    color: #333;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 5px;
}

.footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}

/* Styles for buttons */
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1em;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.button-primary {
    background-color: #007bff; /* Warna latar belakang tombol utama */
    color: #fff; /* Warna teks tombol utama */
    border: none;
}

.button-primary:hover {
    background-color: #0056b3; /* Warna latar belakang tombol utama saat hover */
}

.button-secondary {
    background-color: #6c757d; /* Warna latar belakang tombol sekunder */
    color: #fff; /* Warna teks tombol sekunder */
    border: none;
}

.button-secondary:hover {
    background-color: #5a6268; /* Warna latar belakang tombol sekunder saat hover */
}
